tlcheck*
*.synctex.gz
*.synctex(busy)
*.tmp
*.ptc
*.xmpi
*.aux
*.log
*.fls
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.out
*.xml
*.thm
*.toc
*.pdf
*~
*.html
auto
venv
.venv
.ipynb_checkpoints
.idea
COPYING
.vscode
*.jar
*.odg
*_region*
*.pygtex
*.pygstyle
*.pyg
*.kdev4
